= render 'shared/wiki_side'

.markdown-content-header.pure-g
  .pure-u-1-2
    %h1.markdown-content-title= @page.name
    %p.markdown-content-subtitle
      From
      %a Tilo Mitra
      at
      %span= @page.updated_at
  .markdown-content-controls.pure-u-1-2
    = link_to 'edit', edit_wiki_page_path(@wiki, @page), class: 'secondary-button pure-button'
    %button.pure-button.pure-button-disabled star
    %button.pure-button.pure-button-disabled comments
.markdown-content-body
  ~ markdown(@wiki, @page.content)
